# IDE Specific
/.idea/*

# Hugo
/site/.hugo_build.lock

# Node
/package-lock.json
/site/grunt/package-lock.json
/site/grunt/node_modules/
/site/themes/hello-friend/package-lock.json

# Generated content
/site/public/
/site/static/js/lunr/index.json
/script/gh/gists.json
/script/gh/prs.json

# Misc
/site/grunt/yarn-error.log
