# IDE Specific
/.idea/*

# Locks
/package-lock.json
/site/.hugo_build.lock
/site/grunt/package-lock.json
/site/themes/hello-friend/package-lock.json

# Should always be lazy generated before each deployment
/site/public/
/site/static/js/lunr/index.json
/script/gh/gists.json
/script/gh/prs.json

# Misc
/site/grunt/yarn-error.log
